<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Music</title>
</head>
<body>
  <h1 class="text-bg-primary p-3">Hello World!</h1>
  <div class="container-fluid">
    <p>Welcome to my first Django project!</p>

    <div class="row">
      <div class="col-5">
        {% include "playlist.html" %}
        This is for playlist
      </div>
      <div class="col">
        <p class="btn btn-danger">Button</p>
        {% block recommendation %}
        This is for recommendation list
        {% endblock %}
      </div>
    </div>
  </div>  
  

</body>
</html>