<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Music</title>
</head>
<body>
  <h1 class="text-bg-primary p-3">Hello World!</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <ul class="nav nav-pills flex-column">
          <!-- Lam the nao the make the current active -->
          {% for i in sample_list %}
            <li class="nav-item">
              <a class="nav-link" href="/{{i.id}}/"> i.name </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-4">
        <div class="col">
          <h1 class="display-5">Sample 1</h1>
          <p>Description</p>
          <ul class="list-group">
              {% for x in song_list %}
                  <li class="list-group-item">{{x}}</li>
              {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col">
        <p class="alert alert-primary"> This is a recommendation list.</p>
        <ul class="list-group">
            {% for x in recommend_list %}
                <li class="list-group-item">{{x}}</li>
            {% endfor %}
            
        </ul>
      </div>
    </div>
  </div>  
  

</body>
</html>